<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'core/main.css' %}">
<style>
	body{
		background-color:#7C878E;
	}
	.choice-item{
		color: #7C878E;
	}
</style>
</head>
<body class="aboutme">

<div class="question" id="question">
	<h3 class="question-AB">{{ question }}</h3>
	<ul class="choice-list">
		{% for choice in choices %}
		<a href='{{ pkid }}/{{ metatag }}/{{ choice }}' class="choice-item"><li>{{ choice }}</li></a>
		{% endfor %}
	</ul>
</div>





</body>
</html>