<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'core/main.css' %}">
</head>
<body>

<div class="opener">
<h1>
	FindFunding
</h1>
</div>

<div class="opener-buttons">
	<a href="aboutme"><p class="open-button">Match with Funding</p></a>
	<a href="quickfind"><p class="open-button">Search by Category</p></a>
	<a href="all"><p class="open-button">All Opportunities</p></a>
	<a href="forpartners"><p>For Partners</p></a>
</div>

</body>
</html>